@using City_Easter_Eggs.Controllers

<html>
<head>
    <title></title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        body {
            background: radial-gradient(circle at 20% 20%, rgba(0, 0, 255, 0.1), transparent 50%), radial-gradient(circle at 80% 20%, rgba(255, 165, 0, 0.1), transparent 50%),
                radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.1), transparent 50%),
                radial-gradient(circle at 20% 80%, rgba(0, 128, 0, 0.1), transparent 50%),
                radial-gradient(circle at 80% 80%, rgba(0, 0, 255, 0.1), transparent 50%),
                radial-gradient(circle at 50% 80%, rgba(75, 0, 130, 0.1), transparent 50%),
                radial-gradient(circle at 80% 50%, rgba(238, 130, 238, 0.1), transparent 50%);
            background-size: cover;
            background-blend-mode: screen;
            background-attachment: fixed;
            background-color: transparent;
        }
        .container {
            padding: 0 50px;
        }
        h1, h2, h3, h4, h5 {
            color: #333;
            margin-top: 30px;
        }
        p {
            line-height: 1.6;
            color: #555;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
        .color-legend {
            display: flex;
            flex-direction: column;
        }
        .color-legend div {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .color-box {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            background-size: cover;
            vertical-align: middle;
        }
        .red { background-image: url('/RedEgg.png'); }
        .green { background-image: url('/GreenEgg.png'); }
        .blue { background-image: url('/BlueEgg.png'); }
        .yellow { background-image: url('/YellowEgg.png'); }
        .purple { background-image: url('/PurpleEgg.png'); }
        .location { background-image: url('/EasterEgg.png'); }
    </style>
</head>
<body>
    <div class="container">
        <h3>Какво е City Easter Eggs?</h3>
        <p>City Easter Eggs е иновативно уеб приложение, създадено за да свързва хората с малко познатите и интересни места в техния град. 
            Вдъхновено от концепцията за геокешинг, City Easter Eggs предлага платформа, където потребителите могат да споделят и откриват 
            интересни и уникални места около себе си. Независимо дали става въпрос за красиво произведение на изкуството, скрито в тиха 
            уличка, уютно заведение, спокоен парк или друго забележително място, тази платформа насърчава потребителите да споделят тези 
            скрити съкровища с другите.</p>
        <p>В свят, където технологиите често ни държат вкъщи, този проект цели да събуди чувството за приключение и любопитство, като 
            подтиква да излезем навън и да открием тайните кътчета, които правят света специален.</p>
        <p>City Easter Eggs е проект, който цели да създаде топло и приятно изживяване, което насърчава хората да виждат красотата в 
            ежедневието. Проектът превръща обикновените разходки в приключения, обикновените места в дестинации и ежедневните излизания 
            във възможности за откриване и свързване.</p>

        <h3>Как да използвате платформата?</h3>
        <h4>Вход и регистрация</h4>
        <p>За да започнете да използвате City Easter Eggs, трябва да си създадете акаунт. Можете да се регистрирате, като въведете 
            основна информация – потребителско име и парола. Също така ще трябва да потвърдите, че сте човек. 👀</p>
        <p>След като се регистрирате, можете да влезете и да получите достъп до всички функции на платформата.</p>

        <h4>Начална страница</h4>
        <p>След влизане в системата ще видите интерактивна карта, изпълнена с различни маркери, представляващи интересни места, 
            споделени от други потребители.</p>

        <h5>Различни цветове, различни значения</h5>
        <div class="color-legend">
            <div><div class="color-box location"></div>Вашето местоположение</div>
            <div><div class="color-box red"></div>Червено - Места, които сте харесали</div>
            <div><div class="color-box green"></div>Зелено - Места, които сте запазили</div>
            <div><div class="color-box blue"></div>Синьо - Метростанции</div>
            <div><div class="color-box yellow"></div>Жълто - Места, които сте добавили</div>
            <div><div class="color-box purple"></div>Лилаво - Най-харесваните места</div>
        </div>

        <h5>Интерактивна карта</h5>
        <p>🔍 Изследвайте точките на картата, като кликнете върху маркерите (или "яйцата"), за да научите повече за дадено място. 
            Ще се появи панел с подробности като име и снимка, където можете да запазите мястото за по-късно или да го харесате, ако сте 
            близо. Можете също да кликнете върху бутона "Заведи ме там", за да видите опциите за навигация.</p>
        <p>📍 Искате да споделите място? Просто кликнете върху мястото на картата, което е близо до вас. Ще се появи панел, където можете 
            да въведете подробности за мястото. Задължително е име и може да качите снимка по желание. След като попълните информацията, 
            кликнете върху "Създай" и вашият маркер ще бъде видим за всички.</p>
        <p>🧭 Ако изгубите къде сте на картата, просто кликнете върху бутона "Моята локация", за да центрирате картата на 
            текущото ви местоположение.</p>
        <p>📏 Ще забележите два кръга около вашето местоположение на картата. По-малкият жълт кръг (радиус 50 м) показва къде можете да 
            създавате и харесвате маркери. По-големият лилав кръг представлява обхвата на филтъра за 5 км, който може да бъде активиран 
            от опциите.</p>

        <h5>Опции</h5>
        <p>Менюто с опции ви позволява да филтрирате маркерите, които се показват на картата и в таблицата по-долу. Можете да изберете от 
            следните филтри, за да персонализирате изгледа си:</p>
        <ul>
            <li>Показвай само точки в радиус от 5 км</li>
            <li>Премахни нехаресани от мен</li>
            <li>Премахни незапазени</li>
            <li>Премахни създадени от други потребители</li>
        </ul>

        <h5>Таблица с локации</h5>
        <p>Таблицата под картата предлага подробен списък с всички маркери. Съдържанието тук може да бъде филтрирано въз основа на опциите, 
            които сте избрали по-горе. Можете да кликнете върху дадена локация в таблицата, за да я видите на картата.</p>
        <p>Можете също да сортирате местата по различни критерии, като кликнете върху заглавията на колоните. По подразбиране местата са 
            сортирани по разстояние, което улеснява намирането на най-близките точки до вас.</p>
    </div>
</body>
</html>