@using City_Easter_Eggs.Controllers

<html>
<head>
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        body {
            background: radial-gradient(circle at 20% 20%, rgba(0, 0, 255, 0.1), transparent 50%), radial-gradient(circle at 80% 20%, rgba(255, 165, 0, 0.1), transparent 50%),
                radial-gradient(circle at 50% 50%, rgba(255, 255, 0, 0.1), transparent 50%),
                radial-gradient(circle at 20% 80%, rgba(0, 128, 0, 0.1), transparent 50%),
                radial-gradient(circle at 80% 80%, rgba(0, 0, 255, 0.1), transparent 50%),
                radial-gradient(circle at 50% 80%, rgba(75, 0, 130, 0.1), transparent 50%),
                radial-gradient(circle at 80% 50%, rgba(238, 130, 238, 0.1), transparent 50%);
            background-size: cover;
            background-blend-mode: screen;
            background-attachment: fixed;
            background-color: transparent;
        }
        .container {
            padding: 0 50px;
        }
        h1, h2, h3, h4, h5 {
            color: #333;
            margin-top: 30px;
        }
        p {
            line-height: 1.6;
            color: #555;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
        .color-legend {
            display: flex;
            flex-direction: column;
        }
        .color-legend div {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }
        .color-box {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            background-size: cover;
            vertical-align: middle;
        }
        .red { background-image: url('/RedEgg.png'); }
        .green { background-image: url('/GreenEgg.png'); }
        .blue { background-image: url('/BlueEgg.png'); }
        .yellow { background-image: url('/YellowEgg.png'); }
        .purple { background-image: url('/PurpleEgg.png'); }
        .location { background-image: url('/EasterEgg.png'); }
    </style>
</head>
<body>
    <div class="container">
        <h3>About City Easter Eggs</h3>
        <p>City Easter Eggs is an innovative web application designed to connect people with the hidden gems of their city. Drawing inspiration from the concept of geocaching, City Easter Eggs offers a platform where users can share and discover unique and interesting locations around them. Whether it's a stunning piece of street art tucked away in a quiet alley, a cozy café, a peaceful park, or any other noteworthy spot, this platform encourages users to highlight these gems for others to enjoy.</p>
        <p>In a world where technology often keeps us indoors, this project aims to foster a sense of adventure and curiosity, encouraging users to step outside, reconnect with their surroundings in a meaningful way, and uncover the secrets that make their city special.</p>
        <p>City Easter Eggs is about creating a wholesome and enjoyable experience that encourages people to see beauty in the everyday, to share that beauty with others, and to strengthen the bond between individuals and their communities. It’s a project that transforms simple walks into adventures, ordinary places into destinations, and casual outings into opportunities for discovery and connection.</p>

        <h3>How to Use the Platform</h3>
        <h4>Login and Register</h4>
        <p>To get started with City Easter Eggs, you need to create an account. You can register by providing basic information - username and password. You will also need to confirm you are indeed a human. 👀</p>
        <p>Once registered, you can log in to access all the features of the platform.</p>
        
        <h4>Home Page</h4>
        <p>After logging in, you'll see an interactive map filled with various markers representing interesting locations shared by other users.</p>

        <h5>Different Colors Have Different Meanings</h5>
        <div class="color-legend">
            <div><div class="color-box location"></div>Your Location</div>
            <div><div class="color-box red"></div>Red - Locations you've liked</div>
            <div><div class="color-box green"></div>Green - Locations you've saved</div>
            <div><div class="color-box blue"></div>Blue - Metro stations</div>
            <div><div class="color-box yellow"></div>Yellow - Locations you've added</div>
            <div><div class="color-box purple"></div>Purple - Most liked locations</div>
        </div>

        <h5>Interacting with the Map</h5>
        <p>🔍 Explore the map by clicking on the markers (or "eggs") to learn more about a location. A details panel will pop up, where you can save the spot for later or like it if you're nearby. You can also click the "Take me there" button to explore navigation options.</p>
        <p>📍 Want to share a location? Simply click on the map near you. A panel will appear where you can enter details about the place. After filling in the information, click "Create," and your marker will be visible for everyone to discover.</p>
        <p>🧭 If you ever lose track of where you are on the map, simply click the "Back to my location" button to center the map on your current position.</p>
        <p>📏 You'll notice two circles around your location on the map. The smaller yellow circle (50m radius) indicates where you can create and like markers. The larger purple circle (5km radius) represents the range for the 5km filter, which can be toggled in the options.</p>

        <h5>Options</h5>
        <p>The options menu allows you to refine the markers displayed on the map and in the table below. Apply filters to customize your view:</p>
        <ul>
            <li>Show only points in 5 km radius</li>
            <li>Show only liked by me</li>
            <li>Show only saved</li>
            <li>Show only created by me</li>
        </ul>

        <h5>Table of Locations</h5>
        <p>The table below the map offers a comprehensive list of all the markers. The content here can be filtered based on the options you've selected above. Click on any location in the table to show you that place on the map.</p>
        <p>You can also sort the locations by different criteria by clicking on the column headers. By default, locations are sorted by distance, making it easy to find the closest points to you.</p>

        </div>
</body>
</html>