@using City_Easter_Eggs.Controllers

<html>
<head>
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        h1, h2, h3, h4 {
            color: #333;
            margin-top: 30px;
        }
        p {
            line-height: 1.6;
            color: #555;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
        }
        .color-legend {
            display: flex;
            flex-wrap: wrap;
        }
        .color-legend div {
            margin-right: 20px;
            display: flex;
            align-items: center;
        }
        .color-box {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
        .red { background-color: red; }
        .green { background-color: green; }
        .blue { background-color: blue; }
        .yellow { background-color: yellow; }
        .purple { background-color: purple; }
    </style>
</head>
<body>
    <div class="container">
        <h2>About City Easter Eggs</h2>
        <p>City Easter Eggs is an innovative web application designed to connect people with the hidden gems of their city. Drawing inspiration from the concept of geocaching, City Easter Eggs offers a platform where users can share and discover unique and interesting locations around them. Whether it's a stunning piece of street art tucked away in a quiet alley, a cozy café, a peaceful park, or any other noteworthy spot, this platform encourages users to highlight these gems for others to enjoy.</p>
        <p>In a world where technology often keeps us indoors, this project aims to foster a sense of adventure and curiosity, encouraging users to step outside, reconnect with their surroundings in a meaningful way, and uncover the secrets that make their city special.</p>
        <p>City Easter Eggs is about creating a wholesome and enjoyable experience that encourages people to see beauty in the everyday, to share that beauty with others, and to strengthen the bond between individuals and their communities. It’s a project that transforms simple walks into adventures, ordinary places into destinations, and casual outings into opportunities for discovery and connection.</p>

        <h2>How to Use the Platform</h2>
        <h3>Login and Register</h3>
        <p>To get started with City Easter Eggs, you need to create an account. You can register by providing basic information - username and password. You will also need to confirm you are indeed a human. 👀</p>
        <p>Once registered, you can log in to access all the features of the platform.</p>
        
        <h3>Home Page</h3>
        <p>When logged in you'll see a map. Here you see all the interesting locations people want to share.</p>
        <h4>Different Colors Have Different Meanings</h4>
        <div class="color-legend">
            <div><div class="color-box red"></div>This is you... your location</div>
            <div><div class="color-box red"></div>Red - Those are the places you've liked'</div>
            <div><div class="color-box green"></div>Green - Those are the places you've saved</div>
            <div><div class="color-box blue"></div>Blue - Those are the Metrostations</div>
            <div><div class="color-box yellow"></div>Yellow - Those are the places you've added'</div>
            <div><div class="color-box purple"></div>Purple -  Those are the most liked places</div>
        </div>

        <h4>What can you do on the map</h4>
        <p>🔍 Those eggs that people place, you can see more about them by clicking on them. It opens a little panel with detais. You can save the point for later or you can like it, if you're close enough. You can also click on the "Take me there" button to see what can take you there.'</p>

        <p>📍 You not only can see the place people want to share, but you can also add places yourself. You can click on the map somewhere near you and that will open a panel for you to enter some details. Than you just click on "Create" and that's it, you've created a marker for everyone to see. 🥚</p>

        <p>🧭 If you get lost, you can quickly return the map to ypur location with the button "Back to my location" on the map.</p>

        <p>🧭 On the map, you also see two circles and you are at the center of them. The smaller yellow one is 50m and shows you where you can create and like points. The bigger purple one is 5km and shows you the range of the 5km filter, which can be enabled from the options</p>



        <h4>Options</h4>
        <p>This section allows you to filter the map and table (bellow). CHoosing from the filters will hide the points that are not valid for the criteria:</p>
        <ul>
            <li>Show only points in 5 km radius</li>
            <li>Show only liked by me</li>
            <li>Show only saved</li>
            <li>Show only created by me</li>
        </ul>



        <h4>Table - Collection of Locations</h4>
        <p>The table provides a detailed view of all the markers. The selected filters from options take affect on the content that will be shown here. If you click on a place from the table, it will show you that place on the map.</p>
        <p>You can also sort the points by clicking on the column's name. They are sorted by distance by default to show you the closest points to you.</p>


        </div>
</body>
</html>