@page
@model City_Easter_Eggs.Pages.CreatePointPageModel
@{
    ViewData["Title"] = "Create Point";
}

<html>
<head>
    <title></title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form id="createPointForm" method="post" >
                <input asp-for="Input.UserLocationLongitude" type="hidden" id="userLocationLongitude" />
                <input asp-for="Input.UserLocationLatitude" type="hidden" id="userLocationLatitude" />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label for="locationName" class="form-label">Location name</label>
                    <span>
                        <label class="text-danger" style="font-size: 12px">* Required</label>
                    </span>
                    <input asp-for="Input.Name" type="text" class="form-control" aria-required="true" placeholder="Name" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Description" class="form-label">Description</label>
                    <textarea asp-for="Input.Description" class="form-control" placeholder="Description" rows="5"></textarea>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
                <span id="loadingText">Loading..</span>
                <div class="mb-3 d-flex justify-content-between">
                    <button id="createPointSubmit" type="submit" class="btn btn-lg btn-primary">Create Point</button>
                    <button id="createPointCancel" type="button" class="btn btn-secondary" style="padding-left: 15px; padding-right: 15px" onclick="window.location.href='/Index';">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>