@page
@using City_Easter_Eggs.Controllers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject MapsService MapService;
@inject UserService UserManager;

@if (UserManager.IsSignedIn(User))
{
    <partial name="MapPageComponent" /> 
}
else
{
    <div>
        <p> Welcome </p>
        <partial name="AboutPartial" />
    </div>
}