@page
@model City_Easter_Eggs.Data.Identity.LoginModel
@{
	ViewData["Title"] = "Вход";
}
@using AspNetCore.ReCaptcha

<h1>@ViewData["Title"]</h1>
<hr/>
<div class="row">
	<div class="col-md-6 mx-auto">
		<section>
			<form id="account" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Потребителско име"/>
					<label asp-for="Input.Username" class="form-label">Потребителско име</label>
					<span asp-validation-for="Input.Username" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Парола"/>
					<label asp-for="Input.Password" class="form-label">Парола</label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="checkbox mb-3">
					<label asp-for="Input.RememberMe" class="form-label">
						<input class="form-check-input" asp-for="Input.RememberMe"/>
						@Html.DisplayNameFor(m => m.Input.RememberMe)
					</label>
				</div>
				@Html.ReCaptcha()
				<br />
				<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Вход</button>
			</form>
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}