@page
@model City_Easter_Eggs.Data.Identity.RegisterModel
@{
	ViewData["Title"] = "Регистрация";
}
@using AspNetCore.ReCaptcha

<h1>Създай нов акаунт.</h1>
<hr/>
<div class="row">
	<div class="col-md-6 mx-auto">
		<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="потребителско име"/>
				<label asp-for="Input.Username">Потребителско име</label>
				<span asp-validation-for="Input.Username" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Парола"/>
				<label asp-for="Input.Password">Парола</label>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-floating mb-3">
				<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Парола" />
				<label asp-for="Input.ConfirmPassword">Потвърди парола</label>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			@Html.ReCaptcha()
			<br />
			<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Регистрация</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial"/>
}